.feed{
    flex:6;
    margin-top: 50px;
    height: calc(100vh - 67px);
    overflow-y: scroll;
}

.feedWrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 30%;
}

.buttonWrapper{
    width: 57%;
}
.Approve{
    float: left;
    height: 40px;
    width: 100px;
    background-color: chartreuse;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: aliceblue;
    font-size: 16px;
}

.Decline{
    float:right ;
    height: 40px;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: aliceblue;
    font-size: 16px;
}
